doctype html
html(ng-app="#{app}")
  head
    title Bookstore
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='./javascripts/libs/angular.min.js')
    script(src='./javascripts/libs/angular-route.min.js')
    script(src='/javascripts/admin.js')
  body
    block content